body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.white {
    background:  #FEFEFE;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.gray {
    background-color: #656177;
    height: 100vh;
    width: 99vw;
    margin: auto;
}

main {
    background-color: #2D2638;
    height: 85vh;
    width: 60%;
    margin: 25px auto;
    display: flex;
    flex: auto;
    padding: 15px;
    border-radius: 10px;
}

#section1 {
    background-image: url(/images/Signin-BG.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    flex: 1;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.header-img {
    width: 80px;
    height: 80px;
}

.header-Btn {
    color: #CECAD2;
    height: 40px;
    padding: 2px 15px 2px 10px;
    font-size: 12px;
    border-radius: 15px;
    background-color: #e7e6ec3f;

}

h3 {
    color: #CECAD2;
    text-align: center;
    margin: 300px 0 0 0;
    font-size: 21px;
    font-weight: 800;
}

.toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px 10px 2px;
    gap: 7px;
}

.toggleBar {
    width: 30px;
    height: 4px;
    background-color: #cecad26a;
}

.toggleBar.one {
    width: 30px;
    height: 4px;
    background-color: #e3daec;
}

/* End of section 1 */

/* Styling section 2 */

#section2 {
    flex: 1;
    padding: 10px 5px 10px 15px;
    font-size: 13px;
}

.sign {
    width: 80%;
    margin-left: 40px;
}

h1 {
    color: #EEEEED;
    font-size: 34px;
    font-weight: bolder;
}

p , p a{
    color: #cecad283;
    margin-top: -30px;
}

input[type="text"] {
    width: 39%;
    padding: 10px;
    margin: 1px 10px 15px 1px;
    border-radius: 2px;
    background-color: rgba(133, 113, 113, 0.059);
    border: 1px solid rgba(255, 255, 255, 0.463);
    color: #FEFEFE;
}

input[type="email"] {
    width: 90%;
    padding: 10px;
    margin: 1px 10px 15px 1px;
    border-radius: 2px;
    background-color: rgba(104, 89, 89, 0.059);
    border: 1px solid rgba(255, 255, 255, 0.463);
    color: #FEFEFE;
}

input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 1px 10px 15px 1px;
    border-radius: 2px;
    background-color: rgba(107, 91, 91, 0.059);
    border: 1px solid rgba(255, 255, 255, 0.463);
    color: #FEFEFE;
}

input[type="checkbox"] {
    accent-color: black;
}

label {
    color: hsla(0, 0%, 100%, 0.486);
}

label a {
    color: rgba(130, 130, 193, 0.744);
}

#form-btn {
    background-color: #6E54B5;
    width: 98%;
    padding: 10px;
    margin: 30px 10px 15px 1px;
    border-radius: 2px;
    color: #FEFEFE;
}

.line {
    width: 100%;
    display: flex;
     margin-top: -15px;
}

hr {
    border: 1px solid #cecad25b;
    width: 30%;
}

span {
    color: #cecad283;
}

.btn {
    width: 119%;
}

.icon-btn {
    width: 46%;
    padding: 10px 30px 10px 2px;
    margin: 1px 10px 15px 1px;
    border-radius: 2px;
    background-color: rgba(133, 113, 113, 0.059);
    border: 1px solid rgba(255, 255, 255, 0.463);width: 39%;
    padding: 10px;
    color: #FEFEFE;
} 

.btn-img {
    padding: 0 10px;
    vertical-align: middle;
}